<!-- views/partials/footer.ejs -->
  <footer>
    <p>📅 Site 2025 – NO COPIE</p>
    <p>Créé par <a href="https://whatsapp.com/channel/0029Vb6T8td5K3zQZbsKEU1R" target="_blank">INCONNU TECH</a></p>
  </footer>
</body>
</html>
